body {
  font-family: "Roboto", sans-serif;
  color: #a4a4a4;
}

header.content-header {
  margin: 0;
  padding: 5mm;
  padding-bottom: 0;
}

header.content-header small {
  margin: 0 8mm;
}

main.content-container {
  margin: 0;
  padding: 12mm;
  padding-top: 5mm;
}

header h1 {
  margin: 0 8mm;
}

main.content-container button {
  background-color: whitesmoke;
  border: none;
  padding: 2mm;
  width: 20mm;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);
}

main.content-container button:hover {
  background-color: rgba(204, 204, 204, 0.658);
  transition: 0.5s;
}

main.content-container textarea,
main.content-container textarea:focus {
  resize: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1mm;
  padding: 5mm;
  box-shadow: none;
}

section.section-content {
  margin: 0;
  padding: 0;
}

section.section-content ul {
  list-style-type: decimal;
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
  width: 100mm;
  margin: 0 2mm;
  list-style: none;
}

section.section-content li {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 300px) {
  main.content-container textarea {
    width: 80mm;
    margin: 0 -12mm;
  }
  main.content-container .button-group {
    margin: 0 0mm;
  }
}
@media screen and (min-width: 357px) {
  main.content-container textarea {
    width: 111mm;
    margin: 0 -12mm;
  }
  main.content-container .button-group {
    margin: 0 25mm;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
